@page "/images"
@using FileStorage.Models
@inject HttpClient Http
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Image gallery</PageTitle>

<h1>Image gallery</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (images == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Preview</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var image in images)
            {
                <tr>
                    <td>@image.Id</td>
                    <td><img src="https://localhost:7063/files/@image.PreviewId" style="width:150px;height:150px"/></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ImageModel[]? images;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = _httpClientFactory.CreateClient("Images");
        images = await httpClient.GetFromJsonAsync<ImageModel[]>("images");
    }
}
