@page "/images/{page?}"
@using FileStorage.Models
@inject HttpClient Http
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Image gallery</PageTitle>

<h1>Image gallery</h1>

<p>Получает изображения (Images) из FileStorage.ImageServer.WebAPI</p>
<p>Файлы изображений (StoredFiles) подгружаются из FileStorage.FileServer.DownloadAPI</p>

@if (images == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Preview</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var image in images)
            {
                <tr>
                    <td><a href="/image/@image.Id">@image.Id</a></td>
                    <td><img src="@image.PreviewId" style="width:150px;height:150px"/></td>
                </tr>
            }
        </tbody>
    </table>
}

<p>Page @curPage</p>

<a onclick="@(async ()=> await Paginate())">Next</a>

@code {
    [Parameter]
    public string Page{ get; set; }

    private ImageModel[]? images;

    private int curPage;

    protected override async Task OnInitializedAsync()
    {
        if (!int.TryParse(Page, out curPage))
            curPage = 1;

        var httpClient = _httpClientFactory.CreateClient("Images");
        images = await httpClient.GetFromJsonAsync<ImageModel[]>("images?page="+curPage+"&count=20");
    }

    private async Task Paginate()
    {
        curPage++;

        var httpClient = _httpClientFactory.CreateClient("Images");
        images = await httpClient.GetFromJsonAsync<ImageModel[]>("images?page="+curPage+"&count=20");
    }
}
